@import "@loveui/ui/globals.css";
@source "../../../packages/code-block/src/**/*.{ts,tsx}";

@layer base {
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  a:active,
  button:active {
    @apply opacity-72 md:opacity-100;
  }
}
